---
import "../../Styles/root.css";
import './projects.css';
import ProjectCard from './components/ProjectCard.astro';
import DataProjects from "../json/Projects";
---



<section id="works" class="projectContainer">
  <h2>
    {
      DataProjects.titulo.map((i) => {
        return <span class="effectText">{i}</span>;
      })
    }
  </h2>
  <main class="projectCard__Container">
    {DataProjects.proyectos.map(items =>{
      return(
      <ProjectCard img={items.img} url={items.url} title={items.proyecto} stack={items.tecnologias} />
      )
    })}
    
  </main>
  <!-- <main class="projectSection">
    <div class="imgContainer">
      {
        DataProjects.proyectos.map((i) => {
          return (
              <div class="imgProjects">
              <a href={i.url} target="_blank" class="imgs" >
                <img src={i.img} class="imgs allEffect" />
              </a>
              </div>
            );
          })
        }
    </div>
  </main> -->
</section>

<style>
  .projectCard__Container{
    width: 100%;
    height: auto;
    padding: 40px 20px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
  }
</style>


