---
import "../../Styles/root.css";
import DataSkills from '../json/Skills';
import SkillsCard from './components/SkillsCard.astro';

const [ t1, t2, t3 ] = DataSkills.titulos;
---

<section id="skills" class="skillsContainer">
  <main class="columnSkills col1">
    <h2 class="lenguaje">
      <!-- {
        DataSkills.habilidades.titulo.map((i) => {
          return <span class="effectText">{i}</span>;
        })
      } -->
    </h2>
    <!-- <h3>{Data}Skills.habilidades.subt1}</h3> -->
    <div class="lenguajes">
      <!-- {
        DataSkills.habilidades.lenguajes.map((i) => {
          return (
            <div class="items">
              <img class="allEffect" class="allEffect" src={i.img} alt="" />
              <p>{i.lenguaje}</p>
            </div>
          );
        })
      } -->
    </div>
    <!-- <SkillCardContainer /> -->
    {DataSkills.lenguajes.map(languagesItems =>{
        return <SkillsCard img={languagesItems.img} tech={languagesItems.lenguaje} />
      })}
    <!-- <h3>{DataSkills.habilidades.subt2}</h3>
    <div class="frameworks">
      {
        DataSkills.habilidades.frameworks.map((i) => {
          return (
            <div class="items">
              <img class="allEffect" src={i.img} alt="" />
              <p>{i.framework}</p>
            </div>
          );
        })
      }
    </div>
    <h3>{DataSkills.habilidades.subt3}</h3>
    <div class="frameworks">
      {
        DataSkills.habilidades.plugins.map((i) => {
          return (
            <div class="items">
              <img class="allEffect" src={i.img} alt="" />
              <p>{i.plugin}</p>
            </div>
          );
        })
      }
    </div>
    <h3>{DataSkills.habilidades.subt4}</h3>
    <div class="frameworks">
      {
        DataSkills.habilidades.management.map((i) => {
          return (
            <div class="items">
              <img class="allEffect" src={i.img} alt="" />
              <p>{i.plugin}</p>
            </div>
          );
        })
      }
    </div> -->
  </main>

  </main>
</section>

