---
import "../../Styles/root.css";
import './about.css'
import DataAbout from "../json/About";
import AboutCard from "./components/AboutCard.astro";
import ExperienceCard from "./components/ExperienceCard.astro";
import EducationCard from "./components/EducationCard.astro";

const [about, experience, education] = DataAbout.titles;
const [c1, c2, c3, c4, c5, c6] = DataAbout.experience;
const {description, subdescription} = DataAbout.about;
const [e1, e2] = DataAbout.education;
---



<section class="aboutContainer">

  <div class="contentContainer ">

      <div class="dataContainer">
            <p class="titleAbout"> <a  href="#about">{about}</a></p>
            <p class="titleAbout"><a  href="#experience">{experience}</a></p>
            <p class="titleAbout"><a  href="#education">{education}</a></p>
      </div>

    <!-- --------------------------------------------------------------------- -->

    <div class="infoContainer ">

      <div class="aboutSection" id="about">
          <AboutCard description={description} subdescription={subdescription}/>
      </div>

      <div class="experienceSection" id="experience">
          <ExperienceCard company={c1.company} responsabilities={c1.responsabilities} stack={c1.stack} time={c1.time} img={c1.img}/>
          <ExperienceCard company={c2.company} responsabilities={c2.responsabilities} stack={c2.stack} time={c2.time} img={c2.img}/>
          <ExperienceCard company={c3.company} responsabilities={c3.responsabilities} stack={c3.stack} time={c3.time} img={c3.img}/>
          <ExperienceCard company={c4.company} responsabilities={c4.responsabilities} stack={c4.stack} time={c4.time} img={c4.img}/>
          <ExperienceCard company={c5.company} responsabilities={c5.responsabilities} stack={c5.stack} time={c5.time} img={c5.img}/>
          <ExperienceCard company={c6.company} responsabilities={c6.responsabilities} stack={c6.stack} time={c6.time} img={c6.img}/>
      </div>

      <div class="educationSection" id="education">
        <EducationCard studio={e1.studio} institution={e1.institution} years={e1.years} />
        <EducationCard studio={e2.studio} institution={e2.institution} years={e2.years} />
      </div>

    </div>
        <!-- --------------------------------------------------------------------- -->

  </div>
</section>

