---
import DataHome from "./Json/Home";
---

<section class="homeContainer">
  <div>WEB</div>
  <div>DEVELOPER</div>
  <div class="dataContainer">
    <div class="dataSocial">
      <div class="social_1">
        <p class="title">{DataHome.title}</p>
        <p class="subtitle">
          {DataHome.subtitle}
        </p>
        {
          DataHome.description.map((i) => {
            return <p class="description">{i}</p>;
          })
        }
      </div>
      <div class="social_2">
        {
          DataHome.social.map((i) => {
            return (
              <a href={i.url} target="_blank">
                <img src={i.img} class="icon" alt="social" />
              </a>
            );
          })
        }
      </div>
    </div>

    <div class="divHome"></div>
  </div>
</section>

<script></script>

<style>
  .homeContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--bg-1);
    z-index: 100;
  }
  .homeContainer > div:nth-child(1) {
    position: absolute;
    right: 2vw;
    color: var(--cl-4);
    font-size: 23vw;
    font-family: var(--font-2);
    font-weight: 900;
    padding-right: 50px;
  }
  .homeContainer > div:nth-child(2) {
    position: absolute;
    left: 2vw;
    bottom: 0;
    color: var(--cl-4);
    font-size: 23vw;
    font-family: var(--font-2);
    font-weight: 900;
    padding-right: 50px;
  }
  /* .movieContainer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--bg-1);
    color: var(--cl-5);
    font-family: var(--font-2);
    font-size: 350px;
    font-weight: 900;
  }
  .movieContainer div:nth-child(1){
    display: flex;
    flex-direction: row-reverse;
    margin: ;
  } */
  .dataContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    /* top: 0; */
  }
  .dataSocial {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .divHome {
    width: 50%;
  }
  /* .backMovie {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 50;
  } */
  /* ================================================================= */
  .title {
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 80px;
    line-height: 120px;
    color: var(--cl-1);
    margin-bottom: -20px !important;
  }
  .subtitle {
    font-family: var(--font-2);
    font-weight: bold;
    font-size: 180px;
    letter-spacing: 0.5rem;
    color: var(--cl-1);
    margin-bottom: -50px !important;
  }
  .description {
    font-family: var(--font-3);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: var(--cl-1);
  }
  .dataSocial {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .social_1 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10rem !important;
  }
  /* ================================================================= */
  .social_2 {
    width: 100%;
    height: 20%;
    padding: 5rem 0 0 10rem !important;
    text-decoration: none;
    list-style: none;
  }
  .icon {
    width: 1.5rem;
    margin: 0 10px !important;
    transition: 0.5s;
  }
  .icon:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

  /* ================================================================= */
  @media screen and (max-width: 576px) {
    .homeContainer > div:nth-child(1) {
      font-size: 40vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 5vh;
      left: 2vw;
      padding-right: 50px;
    }
    .homeContainer > div:nth-child(2) {
      font-size: 60vw;
      position: absolute;
      left: 20vw;
      top: 23vh;
      color: var(--cl-4);
      font-family: var(--font-2);
      font-weight: 900;
      padding-right: 50px;
    }
    .dataContainer {
      display: flex;
      flex-direction: column-reverse !important;
      position: absolute;
    }
    .dataSocial {
      width: 100%;
      height: 50%;
    }
    .divHome {
      height: 30%;
    }
    .social_1 {
      width: 100%;
      height: 60%;
      justify-content: start;
      padding: 0 0 0 2rem !important;
    }
    .title {
      font-size: 60px;
      margin-bottom: -35px !important;
    }
    .subtitle {
      font-size: 125px;
      letter-spacing: 0.5rem;
      margin-bottom: -40px !important;
    }
    .description {
      font-size: 40px;
    }
    .social_2 {
      padding: 2rem 0 !important;
      height: 40%;
      display: flex;
      align-items: end;
      justify-content: center;
    }
  }
</style>
