---
import "../Styles/root.css";
import DataSkills from "./Json/Skills";
---

<section id="skill" class="skillsContainer">
  <main class="columnSkills col1">
    <h2 class="lenguaje">
      {
        DataSkills.habilidades.titulo.map((i) => {
          return <span class="effectText">{i}</span>;
        })
      }
    </h2>
    <h3>{DataSkills.habilidades.subt1}</h3>
    <div class="lenguajes">
      {
        DataSkills.habilidades.lenguajes.map((i) => {
          return (
            <div class="items">
              <img class="allEffect" src={i.img} alt="" />
              <p>{i.lenguaje}</p>
            </div>
          );
        })
      }
    </div>
    <h3>{DataSkills.habilidades.subt2}</h3>
    <div class="frameworks">
      {
        DataSkills.habilidades.frameworks.map((i) => {
          return (
            <div class="items">
              <img src={i.img} alt="" />
              <p>{i.framework}</p>
            </div>
          );
        })
      }
    </div>
    <h3>{DataSkills.habilidades.subt3}</h3>
    <div class="frameworks">
      {
        DataSkills.habilidades.plugins.map((i) => {
          return (
            <div class="items">
              <img src={i.img} alt="" />
              <p>{i.plugin}</p>
            </div>
          );
        })
      }
    </div>
  </main>
  <main class="columnSkills col2">
    <h2>
      {
        DataSkills.experiencias.titulo.map((i) => {
          return <span class="effectText">{i}</span>;
        })
      }
    </h2>
    <h3>Han confiado en mi</h3>
    <div class="experiencias">
      {
        DataSkills.experiencias.experiencia.map((i) => {
          return (
            <div class="items">
              <img src={i.img} alt="" />
              <div class="subItems">
                <p>{i.empresa}</p>
                <span>{i.cargo}</span>
              </div>
            </div>
          );
        })
      }
    </div>
    <h2>
      {
        DataSkills.educacion.titulo.map((i) => {
          return <span class="effectText">{i}</span>;
        })
      }
    </h2>
    <h3></h3>
    <div class="educacion">
      {
        DataSkills.educacion.profesional.map((i) => {
          return (
            <div class="subItems">
              <p>{i.titulado}</p>
              <span>{i.cartificado}</span>
            </div>
          );
        })
      }
    </div>
  </main>
  <main class="columnSkills col3">
    <h2>
      {
        DataSkills.personales.titulo.map((i) => {
          return <span class="effectText">{i}</span>;
        })
      }
    </h2>
    <h3></h3>
    <div class="hPersonales">
      <div class="subItems">
        <p class="dataPersonales">{DataSkills.personales.descripcion}</p>
      </div>
    </div>
    <h2>
      {
        DataSkills.hobbies.titulo.map((i) => {
          return <span class="effectText">{i}</span>;
        })
      }
    </h2>
    <h3></h3>
    <div class="hobbies">
      <div class="hobbiesGrid">
        {
          DataSkills.hobbies.hobbies.map((i) => {
            return (
              <div class="gridItems">
                <img src={i.imagen} alt="" />
                <p>{i.titulo}</p>
              </div>
            );
          })
        }
      </div>
    </div>
    <div class="Logo">
      <img src={DataSkills.logotipo} alt="" />
    </div>
  </main>
</section>

<style>
  * {
    /* border: 0.1px solid red; */
  }
  .skillsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--bg-3);
    color: var(--cl-1);
  }
  .columnSkills {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .columnSkills > h2 {
    margin: 100px 0 30px 60px !important;
    font-family: var(--font-2);
    font-size: 40px;
    letter-spacing: 5px;
  }
  .columnSkills > h3 {
    margin: 50px 0 30px 60px !important;
    font-family: var(--font-1);
    font-size: 25px;
    letter-spacing: 1px;
  }
  .items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 30px 60px !important;
  }
  .subItems {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 60px !important;
  }
  .items > img {
    width: 50px;
  }
  .items > p {
    font-family: var(--font-2);
    font-size: 17px;
    letter-spacing: 2px;
  }
  .subItems > p {
    font-family: var(--font-2);
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 2px;
  }
  .subItems > span {
    font-family: var(--font-3);
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 2px;
  }
  .hobbiesGrid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 50px;
  }
  .gridItems {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridItems > img {
    width: 50px;
  }
  .gridItems > p {
    font-family: var(--font-3);
    font-size: 15px;
    letter-spacing: 2px;
  }
  .Logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo > img {
    margin-top: 150px !important;
  }
  /* View Tablet */
  @media only screen and (max-width: 834px) {
    .skillsContainer {
      width: 100%;
      height: auto;
      display: grid;
    }
    .columnSkills {
      width: 100%;
      height: 100%;
    }
    .columnSkills > h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px 0 0 0 !important;
    }
    .columnSkills > h2:nth-child(4) {
      margin-top: -0.5rem !important;
    }
    .columnSkills > h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem !important;
      font-size: 1.2rem;
    }
    .subItems {
      display: flex;
      flex-direction: column;
      margin: 2rem 0 !important;
    }
    .subItems > .dataPersonales {
      display: flex;
      justify-content: center;
    }
    .educacion {
      padding-left: 3rem !important;
    }
    .Logo > img {
      width: 8rem;
    }
    .col1 > div {
    }
    .col3 {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      /* text-align: center; */
    }
  }
  /* View Mobile */
  @media only screen and (max-width: 576px) {
    .skillsContainer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: var(--bg-3);
      color: var(--cl-1);
    }
    .columnSkills {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .columnSkills > h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px 0 0 0 !important;
    }
    .columnSkills > h2:nth-child(4) {
      margin-top: 6rem !important;
    }
    .columnSkills > h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem !important;
      font-size: 1.2rem;
    }
    .subItems {
      display: flex;
      flex-direction: column;
      margin: 2rem 0 !important;
    }
    .subItems > .dataPersonales {
      display: flex;
      justify-content: center;
    }
    .educacion {
      padding-left: 3rem !important;
    }
    .Logo > img {
      width: 8rem;
    }
  }
</style>
